<%- include('../../layouts/header.ejs') %>
<style>

</style>
<%- include('../../layouts/sidebar.ejs') %>

<div class="col-md-6">
  <div class="card">
    <div class="card-body">

      <% if (operation != 'view') { %>
      <form action="/admin/<%= table %>/<%= operation %>/<% if(locals.id){ %><%= id %><% } %>" method="POST" id="mainform" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="csrfToken" value="<% if(locals.csrfToken){ %><%= csrfToken %><% } %>" class="form-control">
        <% } %>
        
          <% if(locals.id){ %><div class="form-group"><span style="font-weight: bold;"><%= id %></span></div><% } %>

        <div id="div_id_name" class="form-group">
          <label for="id_name" class="requiredField">
            Name<span class="asteriskField">*</span>
          </label>
          <div class="">
            <input type="text" name="name" maxlength="50" class="textinput textInput form-control ui-autocomplete-input" required="" id="id_name" value="<% if(locals.row){ %><%= row.name %><% } %>" autocomplete="off" <% if (operation == 'view') { %>disabled<% } %> />
          </div>
        </div>
        <div id="div_id_identifier" class="form-group">
          <label for="id_identifier" class="">
            Identifier
          </label>
          <div class="">
            <input type="text" name="identifier" maxlength="20" class="textinput textInput form-control" value="<% if(locals.row){ %><%= row.identifier %><% } %>" id="id_identifier" <% if (operation == 'view') { %>disabled<% } %> />
            <small id="hint_id_identifier" class="form-text text-muted">Enter name of the
              identifier.</small>
          </div>
        </div>
        <div id="div_id_description" class="form-group">
          <label for="id_description" class="">
            Description<span class="asteriskField">*</span>
          </label>
          <div class=""> <textarea name="description" cols="40" rows="10" maxlength="500" class="textarea form-control" id="id_description" style="height: 97px;" required spellcheck="false" <% if (operation == 'view') { %>disabled<% } %>><% if(locals.row){ %><%= row.description %><% } %></textarea>
          </div>
        </div>
        <% if (operation != 'view') { %>
        <button type="submit" class="btn btn-success">Save</button>
      </form>
      <% } %>
    </div>
  </div>
</div>
<%- include('../../layouts/footer.ejs') %>
<script></script>
</body>

</html>