<%- include('../../layouts/head.ejs') %>
<style>

</style>
<%- include('../../layouts/sidebar.ejs') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-primary">
        <div class="card-body">
          <table id="zero_config" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Active</th>
                <th>Super User</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              <%for(var i=0; i < rows.length; i++) { %>
              <% var row=rows[i] %>
              <tr id="row<%= row._id %>">
                <td data-toggle="tooltip" title="<%= row._id %>">
                  <%= row.name %>
                </td>
                <td>
                  <%= row.email %>
                </td>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input activeCheckbox" data-id="<%= row._id %>" id="active<%= row._id %>" <% if (row.isActive) { %>checked<% } %>>
                    <label class="custom-control-label" for="active<%= row._id %>"></label>
                  </div>
                </td>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input superuserCheckbox" data-id="<%= row._id %>" id="superuser<%= row._id %>" <% if (row.isSuperUser) { %>checked<% } %>>
                    <label class="custom-control-label" for="superuser<%= row._id %>"></label>
                  </div>
                </td>
                <td class="text-right">
                  <div class="call-chat">
                    <a href="/admin/<%= table %>/view/<%= row._id %>" class="btn a-btn-slide-text btn-outline-info btn-sm">
                      <i class="fas fa-eye-slash"></i>
                    </a>
                    <a href="/admin/<%= table %>/update/<%= row._id %>" class="btn a-btn-slide-text btn-outline-warning btn-sm">
                      <i class="fas fa-edit"></i>
                    </a>
                    <button data-href="/admin/<%= table %>/delete/<%= row._id %>" data-id="<%= row._id %>" class="btn a-btn-slide-text btn-outline-danger btn-sm btn-delete">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../../layouts/footer.ejs') %>
<script>
  $(document).ready(function() {

    $(".activeCheckbox").on('change', function() {
      var $this = $(this);
      $(this).attr('disabled', true);
      var id = $(this).attr('data-id');
      var isActive = $(this).is(':checked');
      var url = '/admin/<%= table %>/update-status/' + id;
      var data = {
        isActive: isActive,
      };
      $.ajax({
        url: url,
        type: 'POST',
        data: data,
        success: function(data) {
          if (data.status) {
            Toast.fire({
              icon: 'success',
              title: data.message
            });
          } else {
            Toast.fire({
              icon: 'error',
              title: data.message
            });
          }
        },
        error: function(data) {
          $this.prop('checked', !isActive);
          Toast.fire({
            icon: 'error',
            title: data
          });
        },
      });
      $(this).attr('disabled', false);
    });

    $(".superuserCheckbox").on('change', function() {
      var $this = $(this);
      $this.attr('disabled', true);
      var id = $(this).attr('data-id');
      var isSuperUser = $(this).is(':checked');
      var url = '/admin/<%= table %>/update-superuser/' + id;
      var data = {
        isSuperUser: isSuperUser,
      };
      $.ajax({
        url: url,
        type: 'POST',
        data: data,
        success: function(data) {
          if (data.status) {
            Toast.fire({
              icon: 'success',
              title: data.message
            });
          } else {
            Toast.fire({
              icon: 'error',
              title: data.message
            });
          }
        },
        error: function(data) {
          $this.prop('checked', !isSuperUser);
          Toast.fire({
            icon: 'error',
            title: data
          });
        },
      });
      $this.attr('disabled', false);
    })

    $('.btn-delete').on('click', function() {
      var $this = $(this);
      var id = $this.attr('data-id');
      var url = $this.attr('data-href');

      $.ajax({
        url: url,
        type: 'DELETE',
        success: function(data) {
          if (data.status) {
            Toast.fire({
              icon: 'success',
              title: data.message
            });
            $('#row' + id).remove();
          } else {
            Toast.fire({
              icon: 'error',
              title: data.message
            });
          }
        },
        error: function(data) {
          console.log(data);
          Toast.fire({
            icon: 'error',
            title: 'Something went wrong'
          });
        }
      });
    });

    $('#zero_config').DataTable();

  });
</script>
</body>

</html>