<%- include('../../layouts/head.ejs') %>
<style>
  #fabBtn {
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 9999;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    cursor: pointer;
  }
</style>
<%- include('../../layouts/sidebar.ejs') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-primary">
        <!-- <div class="card-header">
          <h3 class="card-title">Quick Example</h3>
        </div> -->
        <form id="mainForm" novalidate>
          <div class="card-body">
            <input type="hidden" name="csrfToken" value="<% if(locals.csrfToken){ %><%= csrfToken %><% } %>" class="form-control">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" name="title" id="title" placeholder="Enter Title" value="<% if(locals.data){ %><%= data.title %><% } %>">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Book</label>
                  <select class="form-control select2" name="book" id="book">
                    <% if (operation == 'update') { %>
                    <% books.forEach(element => { %>
                    <option value="<%= element._id %>" <% if (element.name == data.book.name) { %>selected<% } %>><%= element.name %></option>
                    <% }) %>
                    <% } else { %>
                    <option value="" disabled selected>Select Book</option>
                    <% books.forEach(element => { %>
                    <option value="<%= element._id %>"><%= element.name %></option>
                    <% }) %>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="editor">Content</label>
              <textarea class="form-control" id="editor" name="editor" rows="10" cols="80"><% if(locals.data){ %><%= data.data %><% } %></textarea>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" id="submitBtn" class="btn btn-success float-right">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<% if (operation == 'update') { %>
<div class="modal fade" id="modal-lg">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="wordTitle">Large Modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="wordForm">
          <!-- <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Book</label>
                <select class="form-control select2" name="book" id="wordBook">
                  <option value="" selected>Select Image</option>
                  <% books.forEach(element => { %>
                  <option value="<%= element._id %>"><%= element.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>
          </div> -->
          <div class="form-group">
            <label for="meaning">Meaning</label>
            <textarea class="form-control" id="meaning" name="meaning" rows="5"></textarea>
          </div>
          <div class="form-group">
            <label>Style</label>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="bold" name="bold" value="bold">
                    <label for="bold" class="custom-control-label">Bold</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="underline" name="underline" value="underline">
                    <label for="underline" class="custom-control-label">Underline</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="row">
                  <label>Alignment</label>
                  <div class="form-group">
                    <div class="col-3">
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" value="left" id="left" name="alignment" checked>
                        <label for="left" class="custom-control-label">Left</label>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" value="center" id="center" name="alignment">
                        <label for="center" class="custom-control-label">Center</label>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" value="right" id="right" name="alignment">
                        <label for="right" class="custom-control-label">Right</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label>color</label>
                <input type="color" class="form-control" name="color" id="color">
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" id="wordSubmitBtn" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<% } %>

<%- include('../../layouts/footer.ejs') %>
<script>
  $(document).ready(function() {

    var table = '<%= table %>';
    var id = '<% if(locals.id){ %><%= id %><% } %>';
    var operation = '<%= operation %>';
    var textChanged = false;

    var selectedWord = null;
    var selectionStart, selectionEnd;

    var mainForm = $('#mainForm').validate({
      rules: {
        title: {
          required: true,
          minlength: 3,
          maxlength: 500
        },
        editor: {
          required: true,
          minlength: 10,
        },
        book: {
          required: true,
        }
      },
      messages: {
        title: {
          required: "Please enter a title",
          minlength: "Title must be at least 3 characters long",
          maxlength: "Title must be at most 500 characters long"
        },
        editor: {
          required: "Please enter content",
          minlength: "Content must be at least 10 characters long"
        },
        book: {
          required: "Please select a book",
        }
      },
      errorElement: 'span',
      errorPlacement: function(error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function(element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function(element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      }
    });

    $("form#mainForm").submit(() => {
      if (mainForm.valid()) {
        $('#submitBtn').attr('disabled', true);
        $('#submitBtn').addClass('btn-progress');
        $.ajax({
          url: '/admin/' + table + '/' + operation + '/' + id,
          type: 'POST',
          data: {
            title: $('#title').val().toString().trim(),
            data: $("#editor").val().toString().trim(),
            book: $('#book').val().toString().trim(),
            csrfToken: $('input[name=csrfToken]').val()
          },
          success: function(data) {
            if (data.status) {
              Toast.fire({
                icon: 'success',
                title: data.message
              });
              textChanged = false;
            } else {
              Toast.fire({
                icon: 'error',
                title: data.status + ' ' + data.statusText
              });
            }
            if (data.redirect) {
              setTimeout(function() {
                window.location.href = data.redirect;
              }, 1000);
            }
            $('#submitBtn').attr('disabled', false);
            $('#submitBtn').removeClass('btn-progress')
          },
          error: function(data) {
            Toast.fire({
              icon: 'error',
              title: data.status + ' ' + data.statusText
            });
            if (data.responseJSON.redirect) {
              setTimeout(function() {
                window.location.href = data.responseJSON.redirect;
              }, 1000);
            }
            $('#submitBtn').attr('disabled', false);
            $('#submitBtn').removeClass('btn-progress')
          }
        });
      } else {
        mainForm.focusInvalid();
        $('#submitBtn').attr('disabled', false);
        $('#submitBtn').removeClass('btn-progress')
      }
      return false;
    });

    if (operation == 'update') {

      $('#fabBtn').css('display', 'inline-block');

      $('#fabBtn').on('click', function() {
        $this = $(this);
        var editor = document.getElementById("editor");
        selectionStart = editor.selectionStart;
        selectionEnd = editor.selectionEnd;
        selectedWord = editor.value.substring(selectionStart, selectionEnd);

        if (`${selectedWord}`.includes('$') || selectedWord == '' || selectedWord == ' ' || selectionStart == selectionEnd) {
          return false;
        }

        // remove space before selected word
        if (selectedWord.startsWith(' ')) {
          // console.log('remove space before selected word');
          selectionStart = selectionStart - 1;
          selectedWord = selectedWord.substring(1);
        }

        // remove space after selected word
        if (selectedWord.endsWith(' ')) {
          // console.log('remove space after selected word');
          selectionEnd = selectionEnd - 1;
          selectedWord = selectedWord.slice(0, -1);
        }

        $('#wordTitle').text(selectedWord);
        $this.attr('data-toggle', 'modal');
        $this.attr('data-target', '#modal-lg');
      });

      var wordForm = $('#wordForm').validate({
        rules: {
          meaning: {
            required: false,
            minlength: 3
          },
          color: {
            required: true,
          },
        },
        messages: {
          meaning: {
            required: "Please enter a meaning",
            minlength: "Meaning must be at least 3 characters long"
          },
          color: {
            required: "Please select a color",
          },
        },
        errorElement: 'span',
        errorPlacement: function(error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function(element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function(element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        }
      });

      $("form#wordForm").submit(() => {
        if (wordForm.valid()) {
          $('#wordSubmitBtn').attr('disabled', true);
          $('#wordSubmitBtn').addClass('btn-progress');
          var data = {
            word: selectedWord,
            book: $('#book option:selected').val().toString().trim(),
            meaning: $('#meaning').val().toString().trim(),
            color: $('#color').val().toString().trim(),
            alignment: $('input[name="alignment"]:checked').val().toString().trim(),
            bold: $('#bold').is(':checked'),
            underline: $('#underline').is(':checked'),
          }

          $.ajax({
            url: '/admin/book/word/add',
            type: 'POST',
            data: data,
            success: function(data) {
              if (data.status) {

                var wordId = data.uuid;

                // replace selected word with uuid
                var editor = document.getElementById("editor");
                var string = editor.value.substring(0, selectionStart) + '$' + wordId + '$' + editor.value.substring(selectionEnd);
                editor.value = string;
                textChanged = true;

                Toast.fire({
                  icon: 'success',
                  title: data.message
                });
              } else {
                Toast.fire({
                  icon: 'error',
                  title: data.message
                });
              }

              $('[data-dismiss=modal]').click();
              $('#wordTitle').text('');
              $('#wordForm').get(0).reset();
              selectedWord = '';
              $('#wordSubmitBtn').attr('disabled', false);
              $('#wordSubmitBtn').removeClass('btn-progress')
            },
            error: function(data) {
              console.log(data);
              Toast.fire({
                icon: 'error',
                title: data.status + ' ' + data.statusText
              });

              $('[data-dismiss=modal]').click();
              $('#wordTitle').text('');
              $('#wordForm').get(0).reset();
              selectedWord = '';
              $('#wordSubmitBtn').attr('disabled', false);
              $('#wordSubmitBtn').removeClass('btn-progress')
            }
          });
        } else {
          wordForm.focusInvalid();
          $('#wordSubmitBtn').attr('disabled', false);
          $('#wordSubmitBtn').removeClass('btn-progress')
        }
        return false;
      });

    }
  });
</script>

</body>

</html>