<%- include('../../layouts/head.ejs') %>
<style>

</style>
<%- include('../../layouts/sidebar.ejs') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-primary">
        <div class="card-body">
          <table id="zero_config" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Sorting</th>
                <th>Name</th>
                <th>is Active</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              <%for(var i=0; i < rows.length; i++) { %>
              <% var row=rows[i] %>
              <tr id="<%= row._id %>">
                <td>
                  <%= row.displayPosition %>
                </td>
                <td data-toggle="tooltip" title="<%= row._id %>">
                  <%= row.name %>
                </td>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" data-id="<%= row._id %>" id="customSwitch<%= row._id %>" <% if (row.isActive) { %>checked<% } %>>
                    <label class="custom-control-label" for="customSwitch<%= row._id %>"></label>
                  </div>
                </td>
                <td class="text-right">
                  <div class="call-chat">
                    <a href="/admin/<%= table %>/view/<%= row._id %>" class="btn a-btn-slide-text btn-outline-info btn-sm">
                      <i class="fas fa-eye-slash"></i>
                    </a>
                    <a href="/admin/<%= table %>/update/<%= row._id %>" class="btn a-btn-slide-text btn-outline-warning btn-sm">
                      <i class="fas fa-edit"></i>
                    </a>
                  </div>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../../layouts/footer.ejs') %>
<script>
  $(document).ready(function() {
    $("input[type=checkbox]").on('change', function() {
      var $this = $(this);
      $(this).attr('disabled', true);
      var id = $(this).attr('data-id');
      var isActive = $(this).is(':checked');
      var url = '/admin/<%= table %>/update-status/' + id;
      var data = {
        isActive: isActive,
      };
      $.ajax({
        url: url,
        type: 'POST',
        data: data,
        success: function(data) {
          if (data.status) {
            Toast.fire({
              icon: 'success',
              title: data.message
            });
          } else {
            Toast.fire({
              icon: 'error',
              title: data.message
            });
          }
        },
        error: function(data) {
          $this.prop('checked', !isActive);
          Toast.fire({
            icon: 'error',
            title: data
          });
        }
      });
      $(this).attr('disabled', false);
    });
  })

  $(document).ready(function() {
    $('#zero_config').DataTable();
  });
</script>
</body>

</html>