<%- include('../../layouts/head.ejs') %>
<style>

</style>
<%- include('../../layouts/sidebar.ejs') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-primary">
        <div class="card-body">
          <table id="zero_config" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Identifier</th>
                <th>ContentType</th>
                <th>Active</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              <%for(var i=0; i < rows.length; i++) { %>
              <% var row=rows[i] %>
              <tr id="row<%= row._id %>">
                <td data-toggle="tooltip" title="<%= row._id %>">
                  <%= row.name %>
                </td>
                <td>
                  <%= row.identifier %>
                </td>
                <td>

                  <%= row.contentType.identifier %>
                </td>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" data-id="<%= row._id %>" id="customSwitch<%= row._id %>" <% if (row.isActive) { %>checked<% } %>>
                    <label class="custom-control-label" for="customSwitch<%= row._id %>"></label>
                  </div>
                </td>
                <td class="text-right">
                  <div class="call-chat">
                    <a href="/admin/<%= table %>/update/<%= row._id %>" class="btn a-btn-slide-text btn-outline-warning btn-sm">
                      <i class="fas fa-edit"></i>
                    </a>
                    <button data-id="<%= row._id %>" class="btn a-btn-slide-text btn-outline-danger btn-sm btn-delete">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../../layouts/footer.ejs') %>
<script>
  $(document).ready(function() {

    var table = '<%= table %>';

    $("input[type=checkbox]").on('change', function() {
      var $this = $(this);
      $(this).attr('disabled', true);
      var id = $(this).attr('data-id');
      var isActive = $(this).is(':checked');
      var url = '/admin/<%= table %>/update-status/' + id;
      var data = {
        isActive: isActive,
      };
      $.ajax({
        url: url,
        type: 'POST',
        data: data,
        success: function(data) {
          if (data.status) {
            Toast.fire({
              icon: 'success',
              title: data.message
            });
          } else {
            Toast.fire({
              icon: 'error',
              title: data.message
            });
          }
        },
        error: function(data) {
          $this.prop('checked', !isActive);
          Toast.fire({
            icon: 'error',
            title: data.status + ' ' + data.statusText
          });
        }
      });
      $(this).attr('disabled', false);
    });

    $('.btn-delete').on('click', function() {
      var $this = $(this);
      var id = $this.attr('data-id');
      var url = '/admin/' + table + '/delete/' + id;

      swal({
          title: 'Are you sure?',
          text: "Once deleted, you will not be able to redo this action It's best to deactivate the user first",
          icon: 'warning',
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            $.ajax({
              url: url,
              type: 'DELETE',
              success: function(data) {
                if (data.status) {
                  Toast.fire({
                    icon: 'success',
                    title: data.message
                  });
                  $('#row' + id).remove();
                } else {
                  Toast.fire({
                    icon: 'error',
                    title: data.message
                  });
                }
              },
              error: function(data) {
                console.log(data);
                Toast.fire({
                  icon: 'error',
                  title: data.status + ' ' + data.statusText
                });
              }
            });
          } else {
            swal('Your data is safe');
          }
        });
    });

    $('#zero_config').DataTable();

  });
</script>
</body>

</html>